# Discord
discord.py==2.7.0

# Environment Variables
python-dotenv==1.1.1

# Database
aiosqlite==0.21.0

# HTTP Requests
aiohttp==3.12.15

# System Information
psutil==7.0.0

# Terminal Colors
colorama==0.4.6

# Date Utilities
python-dateutil==2.9.0.post0
